@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@400;700&display=swap');

body {
  height: 100vh;
  margin: 0;
  overflow: hidden;
  font-family: Roboto, sans-serif;

  display: flex;
  flex-direction: column;
}

img {
  width: 600px;
}

button {
  font-family: Roboto, sans-serif;
  border: none;
  border-radius: 8px;
  background: #eee;

  padding: 8px 16px;
}

input {
  border: 1px solid #ddd;
  border-radius: 16px;
  padding: 8px 24px;
  width: 400px;
  margin-bottom: 16px;
}

ul {
  list-style-type: none;
}

a {
  text-decoration: none;
  color: #888888;
}


.header{
  display: flex;
  justify-content: space-between;
  font-weight:700;
  size: 10px;
}

.content{
  /* 
    flex-grow : 1;    ➜ The div will grow in same proportion as the window-size       
    flex-shrink : 1;  ➜ The div will shrink in same proportion as the window-size 
    flex-basis : 0;   ➜ The div does not have a starting value as such and will 
                        take up screen as per the screen size available for
                        e.g:- if 3 divs are in the wrapper then each div will take 33%.
  */
  flex: 1;
  
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  padding: 50px;
}

.left-links, .right-links{
  display: flex;
  /* justify-content: start; */   /*  <- not needed */
  gap: 15px;
  padding: 20px;
}

.right-links{
  justify-content: end;
}

.footer {
  display: flex;

  justify-content: space-between;
  justify-self: flex-end;

  align-items:center;

  padding: 5px;
  font-weight:700;
  size: 10px;
  background-color: #eeeeee;
  color: #888888;

  height:40px;
}